<div class="leaderboard">
  <p class="leaderboard-header">Leaderboard</p>
  <div class="leaderboard-content">
    <span class="leaderboard-header" id="name">Name</span><span class="leaderboard-header" id="score">Score</span>
    <table id="scores">
      {{#each topScores}}
        {{> leaderboard_score}}
      {{/each}}
    </table>
  </div>
</div>
