<div class="content">
  <div class="home-page-content">
   <input class="user-input" type="text" id="username-input" placeholder="Input a username to play" autocomplete="off">
   <button type="button" id="play-button">Type!</button>
  </div>
  <script src="home.js"></script>
</div>