<div class="home-content">
  {{> leaderboard}}
  <div class="username-play">
    <input class="user-input" type="text" id="username-input" placeholder="Input a username to play" autocomplete="off">
    <button type="button" id="play-button">Start</button>
  </div>
</div>
